.ui.inverted.labeled.icon.left.inline.vertical.demo.sidebar.menu
    a.item(href="/user")
        |  Users
    a.item(href="/chiller")
        |  Chiller
    a.item(href="/counter")
        |  Counter
    a.item(href="/location")
        |  Location